<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rossanamenezes.natural20">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Natural20">
        <activity android:name=".D20Activity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".D12Activity" android:parentActivityName=".MainActivity"/>
        <activity android:name=".D10Activity" android:parentActivityName=".MainActivity" />
        <activity android:name=".D8Activity" android:parentActivityName=".MainActivity" />
        <activity
            android:name=".D6Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".D4Activity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>